<div class="flex flex-col flex-auto min-w-0">

  <!-- Header -->
  <div
      class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
      <div class="flex-1 min-w-0">
          <!-- Breadcrumbs -->
          <div class="flex flex-wrap items-center font-medium">
              <div>
                  <a class="whitespace-nowrap text-primary-500" routerLink="/p/list">Properties</a>
              </div>
              <div class="flex items-center ml-1 whitespace-nowrap">
                  <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                  <a class="ml-1 text-primary-500">Edit {{ property?.name }}</a>
              </div>
          </div>
          <!-- Title -->
          <div class="mt-2">
              <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                Edit {{ property?.name }}
              </h2>
          </div>
      </div>
  </div>

  <!-- Main -->
  <div class="flex-auto p-6 sm:p-10">

      <div class="max-w-3xl">

          <!-- Alert -->
          <fuse-alert class="mt-8 -mb-4" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false"
              [type]="alert.type" [@shake]="alert.type === 'error'">
              {{alert.message}}
          </fuse-alert>

          <!-- Property detail -->
          <form #propertyDetail="ngForm" (ngSubmit)="onSubmit(propertyDetail)">

              <div class="flex flex-col mt-8 p-8 pb-5 bg-card rounded shadow overflow-hidden">
                  <div class="flex">
                      <mat-form-field class="flex-auto">
                          <mat-label>Property type</mat-label>
                          <mat-select name="propertyTypeId" required [(ngModel)]="selectedPropertyTypeId" #propertyTypeId>
                              <mat-option *ngFor="let propertyType of propertyTypes" [value]="propertyType?.id">
                                  {{propertyType.name}}
                              </mat-option>
                          </mat-select>
                          <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
                          <mat-error>
                              Please select which property type you have
                          </mat-error>
                      </mat-form-field>
                  </div>
                  <div class="flex">
                      <mat-form-field class="flex-auto">
                          <mat-label>Property name</mat-label>
                          <input matInput required
                            name="name"
                            [ngModel]="property?.name"
                            [placeholder]="'Property Name'">
                          <mat-error>
                              Please provide a name for your property
                          </mat-error>
                      </mat-form-field>
                  </div>
                  <div class="flex">
                      <mat-form-field class="fuse-mat-textarea flex-auto">
                          <mat-label>Property description</mat-label>
                          <textarea matInput required
                              name="description"
                              [ngModel]="property?.description"
                              [placeholder]="'A sentence or two to describe the property'"
                              [rows]="3"></textarea>
                          <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:menu-alt-2'"></mat-icon>
                          <mat-error>
                              Please provide a brief description about this property.
                          </mat-error>
                      </mat-form-field>
                  </div>
              </div>

              <div class="flex items-center justify-end mt-10">
                  <button class="px-6 ml-3" mat-flat-button type="submit" [color]="'primary'">
                      Save
                  </button>
              </div>

          </form>

      </div>

  </div>
</div>